<!-- dashboard.component.html -->
<div class="header">
    <h1>Dashboard Overview</h1>
    </div>
<div class="dashboard-grid">
   <!--<mat-card class="dashboard-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>people</mat-icon>
            <mat-card-title>Total Users</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="card-value">{{ totalUsers }}</div>
            <div class="card-subtext">Available</div>
          </mat-card-content>
    </mat-card>-->
  
  
    <mat-card class="dashboard-card">
      <mat-card class="stat-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>inventory</mat-icon>
        <mat-card-title>Total Inventory Items</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-value">{{ totalInventoryItems }}</div>
        <div class="card-subtext">Available</div>
      </mat-card-content>
    </mat-card>



    <mat-card class="dashboard-card">
      <mat-card class="stat-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>inventory</mat-icon>
        <mat-card-title>Total Asset Items</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-value">{{ totalAssetItems }}</div>
        <div class="card-subtext">Available</div>
      </mat-card-content>
    </mat-card>


<mat-card class="stat-card warning">
  <mat-card-header>
    <mat-icon mat-card-avatar>warning</mat-icon>
    <mat-card-title>Low Inventory Items</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-value">{{ lowInventoryStock }}</div>
    <div class="card-subtext">Needs attention</div>
  </mat-card-content>
</mat-card>

<mat-card class="stat-card warning">
  <mat-card-header>
    <mat-icon mat-card-avatar>warning</mat-icon>
    <mat-card-title>Low Asset Items</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-value">{{ lowAssetStock }}</div>
    <div class="card-subtext">Needs attention</div>
  </mat-card-content>
</mat-card>
    
  
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>receipt</mat-icon>
        <mat-card-title>Today's Transactions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-value">{{ todaysTransactions }}</div>
        <div class="card-subtext">Movements</div>
      </mat-card-content>
    </mat-card>
 
  